.container__Inicio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__Inicio img {
  margin-top: 5rem;
  width: 25rem;
  height: 25rem;
  max-width: 100%;
}

.container__Inicio button {
  width: 10rem;
  height: 3rem;
  background: #10b8b3;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container__Inicio button:hover {
  background: #159591;
  cursor: pointer;
}
